$bg-color:  #355C7D;
$txt-color:  #dcedc2;

.header {
    margin-bottom: 1rem;
    padding: 1rem 2.5rem 1rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background-color: $bg-color;

    & button {
      padding: .2rem;
      width: 4rem;
      color: $txt-color;
      background-color: $bg-color;
      border: 1px solid $txt-color;
      border-radius: 4px;
      outline: none;

      &:hover {
        color: lighten($txt-color, 10%);
      } 
    }

    @media screen and (max-width: 360px) {
      justify-content: flex-end;
      padding-right: 2.5rem;
    }
  }
  
  .header__logo {
    width: 5rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;

    @media screen and (max-width: 360px) {
      display: none;
    }
  }
