.send__btn {
    margin-bottom: .4rem;
    padding: .2rem .4rem;
    width: 7rem;
    height: 2.5rem;
    background-color: #355C7D;
    color: #dcedc2;
    border: 1px solid darken(#355C7D, 20%);
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}